<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text=""
        color="dark"
        >
      </ion-back-button>
    </ion-buttons>
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-registro">
  <div class="login-form">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">registro</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          
          <form [formGroup]="registroForm">

            <ion-item>
              <ion-input type="text" placeholder="Juan Perez" formControlName="username"
              label="Nombre: " labelPlacement="floating"></ion-input>
            </ion-item>

            <div id="alerta" *ngif="registroForm.get('username')?.invalid && (registroForm.get('username')?.dirty || registroForm.get('username')?.touched)">
              <div id="alerta" *ngif="registroForm.get('username')?.hasError('required')">
                *nombre de usuario es obligatorio
              </div>
              <div id="alerta" *ngif="registroForm.get('username')?.hasError('minlength')">
                *Nombre de usuario debe tener minimo 6 caracteres 
              </div>
            </div>

            <ion-item>
              <ion-input type="email" formControlName="email"
              label="Email: " labelPlacement="floating"></ion-input>
            </ion-item>

            <div id="alerta" *ngif="registroForm.get('email')?.invalid && (registroForm.get('email')?.dirty || registroForm.get('email')?.touched)">
              <div id="alerta" *ngif="registroForm.get('email')?.hasError('required')">
                *Email es obligatorio
              </div>
              <div id="alerta" *ngif="registroForm.get('email')?.hasError('email')">
                *Formato no valido 
              </div>
            </div>

            <ion-item>
              <ion-input type="password" formControlName="password" label="Password:" labelPlacement="floating"></ion-input>
            </ion-item>
        
              <div id="alerta" *ngIf="registroForm.get('password')?.invalid && (registroForm.get('password')?.dirty || 
                          registroForm.get('password')?.touched)">
                  <div id="alerta" *ngIf="registroForm.get('password')?.hasError('required')">
                    *Password es obligatorio
                  </div>
                  <div id="alerta" *ngIf="registroForm.get('password')?.hasError('pattern')">
                    *Password debe tener mínimo 8 caracteres, una letra y un número
                  </div>
              </div>


              <div style="text-align: center; margin-top: 30px;">
                <ion-button (click)="crearUsuario()" [disabled]="!registroForm.valid" shape="round">
                  Crear Usuario
                </ion-button>
              </div>


          </form>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
