ion-content {
    --background: #22eec2;
  }

.page-recuperar {
    display: flex;                /* Habilita Flexbox */
    justify-content: center;       /* Centra horizontalmente */
    align-items: center;           /* Centra verticalmente */
    height: 100vh;                 /* Altura total de la pantalla */
    background-color: #f2f2f2;     /* Fondo opcional */
  }
  
  .recuperar-form {
    width: 100%;
    max-width: 400px;              /* Ancho máximo del formulario */
    padding: 20px;
    background-color: white;       /* Fondo del formulario */
    border-radius: 12px;           /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra para efecto de elevación */
  }