<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/inicio"
        text=""
        color="dark"
        >
      </ion-back-button>
    </ion-buttons>
    <ion-title>Código QR del Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/qrcode.jpg" ></ion-img>
  </ion-card>
</ion-content>




  <!--
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ evento.nombre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Fecha:</strong> {{ evento.fecha }}</p>
      <p><strong>Hora:</strong> {{ evento.hora }}</p>
      <p><strong>Ubicación:</strong> {{ evento.ubicacion }}</p>
      <p><strong>Usuario Registrado:</strong> {{ usuario.nombre }}</p>
      <p><strong>Email:</strong> {{ usuario.email }}</p>

       Generar el QR 
      <div style="text-align: center; margin-top: 20px;">
        <qrcode [qrdata]="qrData"></qrcode>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content> -->





