<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="regresar()">
        Regresar
      </ion-button>
    </ion-buttons>
    <ion-label><ion-title>Registro</ion-title></ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>
    <ion-label><H2>Personas registradas al evento</H2></ion-label>
  </ion-card-content>
<ion-list>
  <ion-item *ngFor="let r of  registrarseevento">
    <ion-label>
    <h3>id: {{r.id}}</h3>
    <h4>nombre: {{r.nombre}}</h4>
    <h4>rut: {{r.rut}}</h4>
    <h4>email: {{r.email}}</h4>
    </ion-label>
  </ion-item>
 </ion-list>
</ion-content>

